@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

@layer base {
  :root {
    --color-base: 247, 248, 255;
    --color-main: 27, 28, 33;
    --color-main-inverted: 237, 239, 247;
    --color-secondary: 129, 134, 161;
    --color-secondary-inverted: 182, 187, 207;
    --color-muted: 85, 88, 105;
    --color-shade-1: 237, 239, 247;
    --color-shade-2: 233, 234, 242;
    --color-shade-3: 225, 227, 240;
  }

  @font-face {
    font-family: 'Graphik';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Graphik/regular.woff2') format('woff2'),
      url('/fonts/Graphik/regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Graphik';
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Graphik/semibold.woff2') format('woff2'),
      url('/fonts/Graphik/semibold.woff') format('woff');
  }

  @font-face {
    font-family: 'GreycliffCF';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/GreycliffCF/bold.woff2') format('woff2'),
      url('/fonts/GreycliffCF/bold.woff') format('woff');
  }

  @font-face {
    font-family: 'GreycliffCF';
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/GreycliffCF/extrabold.woff2') format('woff2'),
      url('/fonts/GreycliffCF/extrabold.woff') format('woff');
  }

  html,
  body {
    font-size: 17px;
    line-height: 1.8;
  }

  @screen lg {
    html,
    body {
      font-size: 19px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-greycliff;
    line-height: 1.1;
  }
}

.theme-dark {
  --color-base: 27, 28, 33;
  --color-main: 237, 239, 247;
  --color-main-inverted: 237, 239, 247;
  --color-secondary: 182, 187, 207;
  --color-secondary-inverted: 182, 187, 207;
  --color-muted: 193, 198, 219;
  --color-shade-1: 38, 40, 48;
  --color-shade-2: 0, 0, 0;
  --color-shade-3: 85, 88, 105;
}

.btn {
  @apply font-greycliff text-center inline-block transition-all rounded-4px;
  padding: 0.87rem 1.78rem;
}

.btn-solid {
  @apply bg-main text-baseColor;
}

.btn-solid:hover,
.btn-solid:active {
  @apply bg-shade2 text-main;
}

.btn-ghost {
  @apply text-main border-2 border-main;
}

.btn-ghost:hover,
.btn-ghost:active {
  @apply bg-main text-baseColor border-2 border-main;
}

.link {
  @apply relative text-main inline-block transition-all;
}

.link::after {
  @apply absolute block w-full bottom-0 left-0 h-3;
  content: '';
  background: rgba(var(--color-secondary), 0.17);
  transition: height 0.15s ease 0s;
}

.link:hover::after {
  height: 0;
}

.custom-img {
  @apply object-contain rounded-4px;
  position: relative !important;
  width: 100% !important;
  height: unset !important;
}

.unset-img {
  @apply w-full mt-5 pb-1;
}

.unset-img > div {
  position: unset !important;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  @apply mt-9;
}

.blog h1 {
  @apply text-4xl sm:text-5xl;
}

.blog h2 {
  @apply text-3xl sm:text-4xl;
}

.blog h3 {
  @apply text-2xl sm:text-3xl;
}

.blog h4 {
  @apply text-xl sm:text-2xl;
}

.blog h5 {
  @apply text-lg sm:text-xl;
}

.blog h6 {
  @apply text-base sm:text-lg;
}

.blog ul,
.blog ol {
  @apply mt-5 ml-4;
}

.blog ul > li {
  @apply mb-3 list-disc;
}

.blog ol > li {
  @apply mb-3 list-decimal;
}

.blog blockquote {
  @apply bg-shade1 mt-5 px-7 pt-1 pb-5 rounded-4px border-l-8 border-shade3;
}

/***** Inline Code & Code Block Styles *****/

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-700 dark:text-gray-200 leading-6 text-left;

  font-family: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier,
    monospace;
  font-size: 0.94rem;
  direction: ltr;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  @apply rounded-4px overflow-auto p-4 my-6 mx-0 bg-baseColor border dark:border-gray-700;
}

/* Inline code */
:not(pre) > code[class*='language-'],
:not(pre) > code {
  @apply rounded-4px px-2 py-1.5 bg-shade1 text-main font-bold;
  font-family: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier,
    monospace;
  font-size: 0.94rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400 dark:text-gray-500;
}

.token.punctuation {
  @apply text-gray-500 dark:text-gray-400;
}

.namespace {
  @apply opacity-70;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-indigo-600 dark:text-indigo-300;
}

.token.number {
  @apply text-pink-500 dark:text-pink-300;
}

.token.boolean {
  @apply text-pink-500 dark:text-pink-300;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-green-700 dark:text-green-200;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  @apply text-purple-600 dark:text-purple-300;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  @apply text-indigo-600 dark:text-indigo-300;
}

.token.keyword {
  @apply text-green-700 dark:text-green-200;
}

.token.regex,
.token.important {
  @apply text-yellow-600 dark:text-yellow-400;
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  @apply cursor-help;
}

pre::-webkit-scrollbar {
  @apply hidden;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
